@import "helpers";

#root {
    margin: 0 auto;
    /* padding: 2rem; */
    /* text-align: center; */
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.firstPage {
    /* margin: 2rem; */
    padding: 2rem;
    height: 100vh;
    background-image: url('./assets/picture.png');
    background-color: #24242460;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    box-shadow: 0px 5px 20px 20px #1c1c1c;
    box-sizing: border-box;
}

.sectionTitle {
    // text-align: left;
    font-size: 3em;
    margin-top: 1.75em;
    margin-left: 0.5em;
    @include header();
    @include emphasis(white);

    &.noSpacing {
        margin: unset;
    }
}

.sectionSubTitle {
    font-size: 3em;
    margin-top: 1.3em;
    @include header();
    @include emphasis(white);

    &.noSpacing {
        margin: unset;
    }
}

.page {
    box-sizing: border-box;
    z-index: -10;
    position: inherit;

    &:nth-child(even) {
        box-shadow: inset 0px 0px 20px 20px #18181833;
        background: #2e2f33;
    }
}

.hasContent {
    padding: 5rem 4rem;
    padding-top: 0rem;
    // min-height: 100vh;
}

.centerText {
    text-align: center;
}

.block {
    display: flex;
    width: 100%;

}

.flexCenter {
    justify-content: center;
}

// .flexLeft {}
.orangeText {
    color: var(--accent)
}

.em-dash {
    width: 3em;
    height: 0.1em;
    background-color: var(--accent);
    display: inline-block;
}

.flex {
    display: flex;
}

.about-message-wrapper {
    display: flex;
    // margin-bottom: 5em;

    .em-dash {
        position: relative;
        top: 0.7em;
        margin-right: 0.5em;
        flex: 0 0 auto;
    }

    .about-message {
        text-align: justify;
    }

}

@media only screen and (max-width: 600px) {
    .hasContent {
        padding: 0rem 2rem 2rem;
    }

    .sectionTitle {
        font-size: 1.5em;
        margin-top: 1em;
        margin-left: 0.5em;
    }

    .sectionSubTitle {
        font-size: 1.4em;
        margin-top: 1em;
    }
}