.row {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
}

.cell {
    width: 5em;
    background-color: #3d3e42;
    padding: 2em 1.5em 1.2em;
    text-align: center;
    border-radius: 8%;
    aspect-ratio: 1/1;

    // &:not(:first-child) {
    //     margin-left: 1.5em;
    // }

    &:hover {
        background-color: var(--accent);
        color: #3d3e42;
        font-weight: 700;
    }
}

.skill-image {
    width: 3em;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 75%;
    gap: 0.5em;
}

.flex-center {
    display: flex;
    justify-content: center;
}